# Binaries
bin/


# Temporary files
in.txt
out.txt
output.out
match.out
unstable_generated.out

# Task C generated data
data/*.csv
plots/*.png

# Editor / OS junk
.DS_Store
.vscode/
.idea/

# Compiled objects (if any)
*.o

*.csv